.project{
 display: flex;
 flex-direction: column;
 align-items: center;   
 justify-content: center;
 gap: 45px;
 /* margin: 80px 170px; */
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.project-container img{
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    transition: 0.3s;
    cursor: pointer;
}

.project-container img:hover{
    /* transform: scale(1.05);
    box-shadow: inset 0 0 0 1000px rgba(26, 109, 0, 0.71);
    border-radius: 15px;
    transition: 0.3s; */
    transform: scale(1.05);
    border-radius: 15px;
    transition: 0.3s;
  background: rgba(0, 106, 11, 0.3);
  box-shadow: 
    0 0 10px rgba(246, 248, 246, 0.557),
    0 0 20px rgba(238, 239, 238, 0.557),
    0 0 30px rgba(221, 225, 222, 0.557);
}

.mywork-showmore {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 70px;
  }
  
  .mywork-showmore p {
    padding: 12px 28px;
    background: linear-gradient(60deg, #006aff, #e100ff);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  
  .mywork-showmore p:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 242, 0, 0.4);
  }
  
  .mywork-showmore p:active {
    transform: translateY(1px);
  }